.aboutme {
    background-color: rgba(0, 0, 0, 0.815);
    margin:auto;
    border-radius: 10px;
    text-align: center;
    max-width:700px;
}

.aboutme p {
    text-align: start;
    padding:3px 20px 20px 20px;
}