@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    color:white;
    background-image: url("/img/sreehari-devadas-LlLDHWcAXKI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menuBar{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.699);
    color:white;
    text-align: center;
    justify-content: center;
    transition: all 0.4s;
    border-radius: 10px;
}

.menuBar:hover{
    background-color: rgba(0, 0, 0);
}

.menuButtons{
    display:flex;
    justify-content: flex-start;
    padding:auto;
    transition: all 0.4s;
}

.menuButtons div{
    color:white;
    padding:16px 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s;
    font-size: 22px;
}

.menuButtons a:link{
    text-decoration: none;
    font-weight: bolder;
}

.menuButtons div:hover{
    background-color: white;
    color: black;
    cursor:pointer;
}

.menuButtons div:active{
    background-color: rgb(255, 0, 64);
    color:white;
}
.home {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-media div {
    display: flex;
    float: none;
    color:white;
    background-color: rgb(165, 0, 49);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.social-media a:link{
    text-decoration: none;
    font-weight: 700;
}

.social-media div:hover {
    transform: scale(1.1);
    background-color: rgb(255, 0, 76);
}

.social-media div p {
    padding-left: 5px;
}

#social-icon {
    filter: invert(100%) sepia(5%) saturate(4%) hue-rotate(338deg) brightness(100%) contrast(100%);
    width: 30px;
    height: 30px;
}

.skills {
    background-color: rgba(0, 0, 0, 0.815);
    margin:auto;
    border-radius: 10px;
    text-align: center;
    padding-top: 3px;
    width:-moz-fit-content;
    width:fit-content;
    font-size: 24px;
}

.skills section{
    display:flex;
    flex-direction: row;
}

.skilist{
    display: flex;
    flex:auto;
    flex-direction:row;
    justify-content: center;
}

.skilist div{
    transition: all 0.4s;
    padding:10px 10px 10px 10px;
}

.skilist div p{
    font-weight: 700;
    font-size: 25px;
}

#icon {
    width: 70px;
    height: 70px;
}

footer {
    margin-top:10px;
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
    text-align: center;
    background-color: black;
}