@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    color:white;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);
    background: linear-gradient(to right, #6f0000, #200122);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #2d0130;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.712);
    border-radius: 5px;
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

.menuBar{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.521);
    color:white;
    text-align: center;
    justify-content: center;
    transition: all 0.4s;
    border-radius: 10px;
}

.menuBar:hover{
    background-color: rgba(0, 0, 0);
}

.menuButtons{
    display:flex;
    justify-content: flex-start;
    padding:auto;
    transition: all 0.4s;
}

.menuButtons div{
    color:white;
    padding:16px 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s;
    font-size: 22px;
}

.menuButtons a:link{
    text-decoration: none;
    font-weight: bolder;
}

.menuButtons div:hover{
    background-color: white;
    color: black;
    cursor:pointer;
}

.menuButtons div:active{
    background-color: rgb(255, 0, 64);
    color:white;
}

footer {
    margin: 2% -0.6% -0.6% -0.6%;
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 20px;
}